In [2]:
import pandas as pd
import numpy as np
# from sklearn.datasets import load_heart_disease

In [3]:
df = pd.read_csv("C:/Users/Shubham/Desktop/dsbda/heart.csv")

In [4]:
# 1. Min-Max Normalization
min_max_df = (df - df.min()) / (df.max() - df.min())

In [5]:
min_max_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0.708333,1.0,1.000000,0.481132,0.244292,1.0,0.0,0.603053,0.0,0.370968,0.0,0.00,0.333333,1.0
1,0.166667,1.0,0.666667,0.339623,0.283105,0.0,0.5,0.885496,0.0,0.564516,0.0,0.00,0.666667,1.0
2,0.250000,0.0,0.333333,0.339623,0.178082,0.0,0.0,0.770992,0.0,0.225806,1.0,0.00,0.666667,1.0
3,0.562500,1.0,0.333333,0.245283,0.251142,0.0,0.5,0.816794,0.0,0.129032,1.0,0.00,0.666667,1.0
4,0.583333,0.0,0.000000,0.245283,0.520548,0.0,0.5,0.702290,1.0,0.096774,1.0,0.00,0.666667,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.583333,0.0,0.000000,0.433962,0.262557,0.0,0.5,0.396947,1.0,0.032258,0.5,0.00,1.000000,0.0
299,0.333333,1.0,1.000000,0.150943,0.315068,0.0,0.5,0.465649,0.0,0.193548,0.5,0.00,1.000000,0.0
300,0.812500,1.0,0.000000,0.471698,0.152968,1.0,0.5,0.534351,0.0,0.548387,0.5,0.50,1.000000,0.0
301,0.583333,1.0,0.000000,0.339623,0.011416,0.0,0.5,0.335878,1.0,0.193548,0.5,0.25,1.000000,0.0
302,0.583333,0.0,0.333333,0.339623,0.251142,0.0,0.0,0.786260,0.0,0.000000,0.5,0.25,0.666667,0.0

In [6]:
# 2. Z-Score Normalization
z_score_df = (df - df.mean()) / df.std()

In [7]:
z_score_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0.950624,0.679881,1.969864,0.762694,-0.255910,2.390484,-1.004171,0.015417,-0.69548,1.085542,-2.270822,-0.713249,-2.145324,0.913019
1,-1.912150,0.679881,1.000921,-0.092585,0.072080,-0.416945,0.897478,1.630774,-0.69548,2.119067,-2.270822,-0.713249,-0.512075,0.913019
2,-1.471723,-1.465992,0.031978,-0.092585,-0.815424,-0.416945,-1.004171,0.975900,-0.69548,0.310399,0.974740,-0.713249,-0.512075,0.913019
3,0.179877,0.679881,0.031978,-0.662770,-0.198030,-0.416945,0.897478,1.237849,-0.69548,-0.206364,0.974740,-0.713249,-0.512075,0.913019
4,0.289984,-1.465992,-0.936965,-0.662770,2.078611,-0.416945,0.897478,0.582975,1.43311,-0.378618,0.974740,-0.713249,-0.512075,0.913019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.289984,-1.465992,-0.936965,0.477601,-0.101562,-0.416945,0.897478,-1.163356,1.43311,-0.723126,-0.648041,-0.713249,1.121174,-1.091653
299,-1.031296,0.679881,1.969864,-1.232956,0.342190,-0.416945,0.897478,-0.770432,-0.69548,0.138144,-0.648041,-0.713249,1.121174,-1.091653
300,1.501157,0.679881,-0.936965,0.705675,-1.027653,2.390484,0.897478,-0.377507,-0.69548,2.032940,-0.648041,1.242538,1.121174,-1.091653
301,0.289984,0.679881,-0.936965,-0.092585,-2.223854,-0.416945,0.897478,-1.512623,1.43311,0.138144,-0.648041,0.264644,1.121174,-1.091653
302,0.289984,-1.465992,0.031978,-0.092585,-0.198030,-0.416945,-1.004171,1.063216,-0.69548,-0.895381,-0.648041,0.264644,-0.512075,-1.091653

In [8]:
# 3. Decimal Scaling Normalization
decimal_scaling_df = df.copy()
for col in df.columns:
    max_val = df[col].abs().max()
    j = len(str(int(max_val)))
    decimal_scaling_df[col] = df[col] / (10 ** j)

In [9]:
decimal_scaling_df

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,0.63,0.1,0.3,0.145,0.233,0.1,0.0,0.150,0.0,0.23,0.0,0.0,0.1,0.1
1,0.37,0.1,0.2,0.130,0.250,0.0,0.1,0.187,0.0,0.35,0.0,0.0,0.2,0.1
2,0.41,0.0,0.1,0.130,0.204,0.0,0.0,0.172,0.0,0.14,0.2,0.0,0.2,0.1
3,0.56,0.1,0.1,0.120,0.236,0.0,0.1,0.178,0.0,0.08,0.2,0.0,0.2,0.1
4,0.57,0.0,0.0,0.120,0.354,0.0,0.1,0.163,0.1,0.06,0.2,0.0,0.2,0.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.57,0.0,0.0,0.140,0.241,0.0,0.1,0.123,0.1,0.02,0.1,0.0,0.3,0.0
299,0.45,0.1,0.3,0.110,0.264,0.0,0.1,0.132,0.0,0.12,0.1,0.0,0.3,0.0
300,0.68,0.1,0.0,0.144,0.193,0.1,0.1,0.141,0.0,0.34,0.1,0.2,0.3,0.0
301,0.57,0.1,0.0,0.130,0.131,0.0,0.1,0.115,0.1,0.12,0.1,0.1,0.3,0.0
302,0.57,0.0,0.1,0.130,0.236,0.0,0.0,0.174,0.0,0.00,0.1,0.1,0.2,0.0